ul {
    list-style-type: none;
    padding:0;
}

.select {
    background-color: #212529;
    color:whitesmoke;
}

#hist{
    height:350px;
    color: rgb(18, 16, 36);
    border-top: 2px solid teal;
    margin-bottom: 20px;
}
 
#line{
    height:350px;
    color: rgb(18, 16, 36);
    border-top: 2px solid darkgreen;
    margin-bottom: 20px;
}

#mapDiv{
    border-top: 2px solid black;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    #hist{
        height:300px;
        color: rgb(18, 16, 36);
        border-top: 2px solid teal;
        margin-bottom: 100px;
    }
     
    #line{
        height:300px;
        color: rgb(18, 16, 36);
        border-top: 2px solid darkgreen;
        margin-bottom: 50px;
    }
    
}

.pie {
    color: rgb(18, 16, 36);
    border-top: 2px solid slateblue;
    padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px slategrey;
    box-shadow: inset 0 0 6px slategrey;
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}