<!DOCTYPE html>
<html>
    <head>
            <title>
                    Dashboard
            </title>  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head> 
    <body ng-app="dashboardApp" ng-controller="dashboardController">
                    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                            <a class="navbar-brand" href="#"><strong>Dash-Board</strong></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                            </div>
                    </nav>
                    <div class="fluid-container" style="padding-top:80px;">
                            <div class="row">
                                    <div class="col-md-6">
                                        <h3>Merchants</h3>
                                        <select class="form-control" ng-model="selectedMarchant">
                                            <option value="null">select Merchant</option>
                                            <option ng-repeat="m in merchants" value="{{m.merchant}}" ng-click="filterOffers()">{{m.merchant}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>Devices</h3>
                                        <select class="form-control" ng-model="selectedDevice">
                                                <option value="null">select device</option>
                                                <option ng-repeat="d in devices" value="{{d.device_id}}" ng-click="getOffer(d); filterOffers(); getDeviceLocation(d);">{{d.device_id}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="card" >
                                                    <div class="card-header">
                                                            Select device to check activity
                                                    </div>
                                                    <div class="card-body" id="map" style="height:200px;">
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="card" >
                                                    <div class="card-header">
                                                            Best Offers
                                                    </div>
                                                    <div class="card-body" id="map" style="height:200px;overflow-y:scroll;">
                                                            <ul type="square">
                                                                    <li ng-repeat="offer in filteredOffers">
                                                                       <span class="label label-success">{{offer.merchant}}</span>
                                                                        <span class="label label-warning">({{offer.offer}})</span>
                                                                    </li>   
                                                            </ul>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="card" >
                                                    <div class="card-header">
                                                            Histogram
                                                    </div>
                                                    <div class="card-body" id="map" style="height:200px;overflow:scroll;">
                                                            <canvas id="histogram" height="300" width="600"></canvas>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="card">
                                                    <div class="card-header">
                                                            Histogram
                                                    </div>
                                                    <div class="card-body" id="map" style="height:200px;overflow:scroll;">
                                                            <canvas id="linegraph" height="300" width="600"></canvas>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                    </div>
                    <footer class="container-fluid" style="bottom: 0px;color:darkslateblue;">
                            <hr/>
                            <p>&copy; PivotChain, Inc. &middot; </p>
                    </footer>
        
        <script src="/dashboard.module.js"></script>
        <script src="/canvas.service.js"></script>            
        <script src="/dashboard.controller.js"></script>
        
        <script>
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDFRYUi0V-BPvCt7r25fOp6jn7CjtQ4f18 &callback=myMap" async defer></script>
    </body>  
</html>